/* Add styling for your page here */
.App {}

.Body {
  background-color: white;
  display: flex;
  flex-direction: row;
}

/* Filter and Sort */

.FilterAndSort {
  width: 15%;
}

.FilterSection {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.Sort {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.OfferingFilters {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.AcceptingFilters {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.FilterColumns {
  display: flex;
  flex-direction: column;
}





/* Large Areas */
.TopBanner {
  padding: 2em;
}

.Body {
  /* background-color: black; */
}

.ItemArea {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 2%;
}

.CartArea {
  width: 15%;
  background-color: white;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}


/* Styles for Items */
.Item {
  display: flex;
  flex-direction: column;
  width: 27%;
  margin: 1%;
  padding: 2%;
  background-color: #dbdbdb;
  border-radius: 12px;
}

.Item p {
  margin: 0;
}

.AggregatorItem {
  width: 80%;
  margin: 1%;
  padding: .5em;
  border-radius: 1em;
  border-style: solid;
}

.AggregatorItem p {
  margin: 0;
}

.TradingRequests {
  background-color: white;
  padding: 1em 0;
  margin: 1em 0;
}

.ItemName {
  color: blue;
}

.ItemTag {
  color: green;
}

.FilterSelected {
  background-color: rgb(255, 158, 207);
  border-radius: .5em;
  border-width: .15em;
}

.FilterDefault {
  background-color: white;
  border-radius: .5em;
  border-width: .15em;
}

.ImageSquare {
  width: 100%;
  height: 100%;
  overflow: hidden;
}